spring:
  datasource:
    url: jdbc:h2:mem:testdb;mode=oracle
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      mode: always
  test.database.replace: none;